<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209492169291-eg80gu25blv3pdk3bcig6get7iusi8ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209492169291-eg80gu25blv3pdk3bcig6get7iusi8ar</string>
	<key>API_KEY</key>
	<string>AIzaSyDXNJFUqTtLGOcFUuFLQwgFsigA6OIUpBE</string>
	<key>GCM_SENDER_ID</key>
	<string>209492169291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hseChat</string>
	<key>PROJECT_ID</key>
	<string>hse-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>hse-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209492169291:ios:7bc20b53427a41165873ce</string>
</dict>
</plist>